repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "25.11.0"
    hooks:
      - id: black
        exclude: ^testing/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
        args: ['--ignore=E501,W503,E203']  # This line ignores long line errors
        exclude: ^testing/
      - id: check-json
        exclude: ^test/
      - id: check-xml
        exclude: ^test/
      - id: check-yaml
        exclude: ^test/
      - id: check-merge-conflict
        exclude: ^test/
      - id: detect-private-key
        exclude: ^test/
      - id: fix-encoding-pragma
        exclude: ^test/
      - id: mixed-line-ending
        exclude: ^test/
      - id: requirements-txt-fixer
        exclude: ^test/
      - id: trailing-whitespace
        exclude: ^test/